{% extends "base.html" %}

{% block content %}
<h1>{{ property.title }}</h1>

<div class="property-details">
    {% if property.images.all %}
        {% for image in property.images.all %}
        <img src="{{ MEDIA_URL }}{{ image.image }}" alt="{{ property.title }}" style="width: 20rem; height: 20rem;">
        {% endfor %}
    {% else %}
    <p>No images available</p>
    {% endif %}

    <h2>Description</h2>
    <p>{{ property.description }}</p>

    <h2>Locations</h2>
    <ul>
        {% for location in property.locations.all %}
        <li>{{ location.name }} ({{ location.get_type_display }})</li>
        {% endfor %}
    </ul>

    <h2>Amenities</h2>
    <ul>
        {% for amenity in property.amenities.all %}
        <li>{{ amenity.name }}</li>
        {% endfor %}
    </ul>

    <h2>Summary</h2>
    <p>{{ property.summary.summary }}</p>
</div>
{% endblock %}
